// Color variables
$color-slate: #2A3232;
$color-black:#181d1d;

$color-peach: #e8e8e8;
$color-white:#faf9f9;
$color-gold: #D5B606;
$color-green: #4F772D;


$color-red: #ba3f3f;
$color-red-hover:#933333;
$color-red-active:#742929;
$color-main: #576490;
$color-nav-hover:#444e71;
$color-nav-active:#363e58;
$color-sub-background: #D4D6E6;
$color-select-hover: #b9bbce;
$color-select-active: #9799ae;


// Initializing page - removing all padding and margins
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body, html
{
    min-width: 100vw;
    min-height: 100vh;
    background-color: $color-white;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;


}


// Page head section - Log and Navigation
.head-section
{
    display: flex;
    position: absolute;
    top:0;
    width: 100%;
    height:8.5rem;
    justify-content: space-between;
    background-color: $color-main;
    overflow: hidden;
    font-size: 2rem;
    font-weight: 600;
    color: $color-white;
    box-sizing: border-box;
}
.head-nav-section
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a
    {

        height: 100%;
        box-sizing: border-box;
        width:22.5rem;

        display: flex;
        align-items: center;
        justify-content: center;


        text-decoration: none;
        text-decoration: underline transparent;
        transition: text-decoration 300ms ease, color 300ms ease, background-color 300 ms ease;
        color: $color-white;
        &:hover
        {
            background-color: $color-nav-hover;
            color:$color-white;
            text-decoration-color: $color-gold;
        }
        &:active
        {
            background-color:$color-nav-active;
        }
        &.disabled
        {
            pointer-events: none;
            cursor: default;
            background-color:$color-nav-active;
        }
    }
}
.head-img-logo
{
    height:8.5rem;
    width:15.5rem;

}
.head-profile-section
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:16%;
}
.head-profile-img
{
    height:6.5rem;
    width: auto;
    border-radius: 50%;
}



// Page main section
.main-section
{
    margin:0;
    padding-top:11rem;
    width:100%;
    background-color: $color-sub-background;
}

// Page main section - heading
.main-heading
{
    display: flex;
    width: 100%;
    height:16rem;
    justify-content: space-between;
    padding-left: 6rem;
}
.main-heading-head
{
    font-size: 4rem;
    
}
.main-heading-sub
{
    font-size:2.5rem;
}
.main-heading-input
{
   padding-right: 20rem;
   display: flex;
   flex-direction: column;
   width:40%;
}
.main-heading-input-section
{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.input-group
{
    width:100%;
}
.form-input
{
    font-size: 2.3rem;
    height: 6rem;
    width:100%;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    border-color: grey;
    border-style: none none solid none;
}
.form-label
{
    font-size:2.3rem;
    color: $color-black;
    display:block;
    opacity:1;
    transform:translateY(-4.5rem);
    transform-origin: 0 0;
    transition: all 300ms
}
.form-input::placeholder {color:transparent;}
.form-input:focus {outline:none; border-color: $color-black;}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) +.form-label
{transform: translateY(-8rem) scale(0.7);}
.search-btn
{
    padding: 1rem 1rem 2rem 1rem;
    border: none;
    background: transparent;
    transform: translate(-6rem, -1rem);
    cursor: pointer;
}
.search-btn-img
{
    height:3rem;
    width: auto;
    opacity: 40%;
    &:hover
    {
        opacity: 65%;
    }
    &:active
    {
        opacity: 100%;
    }
}


// Adding Triangle in dropdown https://stackoverflow.com/questions/31531865/css-change-dropdown-arrow-to-unicode-triangle
.select-wrapper 
{
    overflow: hidden;
    position: relative;
    width: 17.5rem; /* real length of dropdown */
}
.select-wrapper:after {
    content: "▼";
    font-size: 2rem;
    pointer-events: none; /* ▼ click triggers dropdown */
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
  }

.main-select
{
    height:5rem;
    padding:1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    width:100%;
    font-size: 2rem;
    -webkit-appearance: none; /* webkit browsers */
    -moz-appearance: none; /* firefox */
    appearance: none; /* modern browsers */
    background: transparent;
    border: none;
    cursor: pointer;
    &:hover
    {
        background-color: $color-select-hover;
    }
    &:active
    {
        background-color: $color-select-active;
    }
}
.main-select::after{ content: "▼";}




.main-body
{
    background-color: $color-white;
    padding-top:7rem;
    padding-left:3rem;
    width:100%;
}
.main-body-row
{
    display: flex;
    justify-content: space-between;
    width:85%;
    
    padding-bottom:5rem;
}

.main-body-item
{
    opacity:70%;
    width:45%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover
    {
        opacity: 85%;
    }
    &:active
    {
        opacity: 100%;
    }

}
.img-equip, .img-customer, .img-employee
{
    border-radius: 1rem;
    height:auto;
    width: 18rem;
}
.item-title 
{
    padding-left:3rem;
    font-size: 2rem;
}


.btn-add
{
    position: fixed;
    top:87%;
    left:85%;
    box-sizing: border-box;
    background-color: $color-main;
    color: $color-white;
    font-weight: 700;
    font-size: 2.7rem;
    padding:2.5rem;
    border-radius: 3rem;
    cursor: pointer;
    &:hover
    {
        background-color: $color-nav-hover;
    }
    &:active
    {
        background-color: $color-nav-active;
    }
}


.main-info-buttons
{
    padding-top: 7rem;
    display: flex;
    justify-content: space-evenly;
}
.btn-info
{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width:20%;
    border-radius:1rem;
    color: $color-white;
    height: 5rem;
    margin: 1rem 0 1rem 0;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}
.btn-edit
{
    background-color: $color-main;
    &:hover{
        background-color: $color-nav-hover;
    }
    &:active
    {
        background-color: $color-nav-active;
    }
}
.btn-delete
{
    background-color: $color-red;
    &:hover{
        background-color: $color-red-hover;
    }
    &:active
    {
        background-color: $color-red-active;
    }
}


.main-info-item
{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.main-info-img
{
    display: flex;
    flex-direction: column;
     justify-content: space-evenly;
}
.img-info {height:30rem;width: auto;}
.main-info-display
{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-row
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:7rem;
    font-size: 3rem;
}
.info-label
{
    font-size: 3rem;
    font-weight: 700;
}
.info-field{width:50%; text-align: center;}
.info-field-input
{
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}
.info-select
{
    padding:1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    width:80%;
    font-size: 2.2rem;
    cursor: pointer;
    &:hover
    {
        background-color: $color-select-hover;
    }
    &:active
    {
        background-color: $color-select-active;
    }
}
