<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Prototype_2/src/styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
        <script src="/Prototype_2/src/main.js" async defer></script>
    </head>
    <body>
        <header class = "head-section">
            <nav class = "head-nav-section">
                <img src ="/Prototype_2/src/assets/logo-sample.png" alt ="Emma Small Engines Logo" class = "head-img-logo">
                <a href = "">Dashboard</a>
                <a href = "/Prototype_2/src/components/customer/index.html">Customers</a>
                <a href = "/Prototype_2/src/components/employees/index.html">Employees</a>
                <a href = "/Prototype_2/src/components/equipment/index.html"  class = "disabled">Equipment</a>
                <a href = "">Repairs</a>
            </nav>
            <div class = "head-profile-section">
                <img class = "head-profile-img" src = "/Prototype_2/src/assets/profile_pic.jpg" alt = "Profile Picture">
                <div class = "head-profile-text"> Hello Emma! </div>
            </div>
        </header>
        <main class = "main-section">
            <section class = "main-heading">
                <div class = "main-heading-title">
                    <h1 class = "main-heading-head">Equipment</h1>
                </div>
                <div class = "main-heading-input">
                    <div class = "main-heading-input-section">
                        <div class = "input-group">
                            <input id = "main-search-input" name = "search" class = "form-input" type="text" placeholder="Search...">
                            <label for = "main-search-input" class = "form-label">Search...</label>
                        </div>
                        <button class = "search-btn"><img class ="search-btn-img" src="/Prototype_2/src/assets/search-icon.png"></button>
                    </div>
                    <div class = "main-heading-input-section" style="    padding-right:5rem;">
                        <div class ="select-wrapper">
                            <select class = "main-select">
                                <option value="" disabled selected>Sort By</option>
                                <option>Name</option>
                                <option>Type</option>
                                <option>Modified Date</option>
                            </select>
                        </div>
                        <div class ="select-wrapper">
                            <select class = "main-select">
                                <option value="" disabled selected>Group By</option>
                                <option>Name</option>
                                <option>Type</option>
                                <option>Modified Date</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <section class = "main-body">
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Excavator EX-2000 - Yellow - ID#12345</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Welding Machine WM-500 - Blue - ID#67890</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Power Drill PD-550 - Red - ID#24680</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Chainsaw CS-700 - Green - ID#13579</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Paint Sprayer PS-150 - Silver - ID#11223</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Leaf Blower LB-350 - Black - ID#45678</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Air Compressor AC-800 - Gray - ID#99887</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Forklift FL-2500 - White - ID#65432</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Cement Mixer CM-1800 - Turquoise - ID#76543</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Pressure Washer PW-400 - Purple - ID#43210</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Circular Saw CS-900 - Pink - ID#56789</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Trencher TR-1200 - Indigo - ID#67890</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Backhoe BH-300 - Maroon - ID#98765</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Pneumatic Hammer PH-600 - Cyan - ID#23456</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Chainsaw CS-850 - Gold - ID#87654</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Generator GEN-2000 - Lime - ID#78901</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Earthmover EM-3500 - Teal - ID#32109</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Power Washer PW-600 - Violet - ID#54321</div>
                    </a>
                </div>
                <div class="main-body-row">
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Jackhammer JH-3000 - Orange - ID#54321</div>
                    </a>
                    <a class="main-body-item" href = "/Prototype_2/src/components/equipment/details.html">
                        <img class="img-equip" src="/Prototype_2/src/assets/equipment-icon.png" alt="equipment image">
                        <div class="item-title">Bulldozer BD-900 - Brown - ID#98765</div>
                    </a>
                </div>
                <a href = "./insert.html" class = "btn-add">Add Equipment</a>
            </section>
        </main>
    </body>
    <!-- <footer>
        <p>Footer of the page starts here.<br>
            &copy;2023 TechLink Software</p>
        <img src="logo.jpeg" alt="TechLink logo Picture">
    </footer> -->
</html>