<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Prototype_2/src/styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
        <script src="/Prototype_2/src/main.js" async defer></script>
    </head>
    <body>
        <header class = "head-section">
            <nav class = "head-nav-section">
                <img src ="/Prototype_2/src/assets/logo-sample.png" alt ="Emma Small Engines Logo" class = "head-img-logo">
                <a href = "">Dashboard</a>
                <a href = "/Prototype_2/src/components/customer/index.html">Customers</a>
                <a href = "/Prototype_2/src/components/employees/index.html">Employees</a>
                <a href = "/Prototype_2/src/components/equipment/index.html">Equipment</a>
                <a href = "">Repairs</a>
            </nav>
            <div class = "head-profile-section">
                <img class = "head-profile-img" src = "/Prototype_2/src/assets/profile_pic.jpg" alt = "Profile Picture">
                <div class = "head-profile-text"> Hello Emma! </div>
            </div>
        </header>
        <main class = "main-section">
            <section class = "main-heading">
                <div class = "main-heading-title">
                    <h1 class = "main-heading-head">Adding Item</h1>
                    <h3 class = "main-heading-sub">Customer</h3>
                </div>
            </section>
            <section class = "main-body">
                <div class = "main-info-item">
                    <div class = "main-info-img">
                        <img class = "img-info" style="height:20rem;" src = "/Prototype_2/src/assets/customer-icon.png">
                        <div class = "info-row" style = "flex-direction: column; height:11rem;">
                            <label for = "img-add-input" style = "text-align: center;"class = "info-label">Add Customer Image</label>
                            <input id = "img-add-input" style = "text-align: center; width: 100%;" class = "info-field-input" type="file">
                        </div>   
                    </div>
                    <div class = "main-info-display">
                        <div class = "info-row">
                            <label class ="info-label" for = "input-cust-fname">Customer First Name:</label> 
                            <div class = "info-field"><input id = "input-cust-fname" class = "info-field-input" type = "text" value=""/> </div>
                              
                        </div>
                        <div class = "info-row">
                            <label class ="info-label"  for = "input-cust-lname">Customer Last Name:</label> 
                            <div class = "info-field"><input id = "input-cust-lname" class = "info-field-input" type = "text" value=""/> </div>
                        </div>
                        <div class = "info-row">
                            <label class ="info-label" for = "input-cust-phone">Customer Phone Number:</label> 
                            <div class = "info-field"><input id = "input-cust-phone" class = "info-field-input" type = "tel" value=""/> </div>
                        </div>
                        <div class = "info-row">
                            <label class ="info-label" for = "input-cust-street">Customer Street Address:</label> 
                            <div class = "info-field"><input id = "input-cust-street" class = "info-field-input" type = "text" value= ""/> </div>
                        </div>
                        <div class = "info-row">
                            <label class ="info-label"  for = "input-cust-city">Customer City Address:</label> 
                            <div class = "info-field"><input id = "input-cust-city" class = "info-field-input" type = "text" value=""/> </div>
                        </div>
                        <div class = "info-row">
                            <label class ="info-label"  for = "input-cust-province">Customer Province:</label> 
                            <div class = "info-field"> 
                                <select class = "info-select" id = "input-cust-province">
                                    <option value="AB">Alberta</option>
                                    <option value="BC">British Columbia</option>
                                    <option value="MB">Manitoba</option>
                                    <option value="NB">New Brunswick</option>
                                    <option value="NL">Newfoundland and Labrador</option>
                                    <option value="NS">Nova Scotia</option>
                                    <option value="NT">Northwest Territories</option>
                                    <option value="NU">Nunavut</option>
                                    <option value="ON">Ontario</option>
                                    <option value="PE">Prince Edward Island</option>
                                    <option value="QC">Quebec</option>
                                    <option value="SK">Saskatchewan</option>
                                    <option value="YT">Yukon</option>
                                </select>
                            </div>
                        </div>
                        <div class = "info-row">
                            <label class ="info-label"  for = "input-cust-pcode">Customer Postal Code:</label> 
                            <div class = "info-field"><input id = "input-cust-pcode" class = "info-field-input" type = "text" value=""/> </div>
                        </div>
                    </div>
                </div>
                <div class = "main-info-buttons">
                    <a href = "" class = "btn-info btn-edit">Update Equipment</a>
                    <a href = "./details.html"class = "btn-info btn-edit">Cancel</a>
                </div>
            </section>
        </main>
    </body>
</html>