<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Prototype_2/src/styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
        <script src="/Prototype_2/src/main.js" async defer></script>
    </head>
    <body>
        <header class = "head-section">
            <nav class = "head-nav-section">
                <img src ="/Prototype_2/src/assets/logo-sample.png" alt ="Emma Small Engines Logo" class = "head-img-logo">
                <a href = "">Dashboard</a>
                <a href = "/Prototype_2/src/components/customer/index.html">Customers</a>
                <a href = "/Prototype_2/src/components/employees/index.html"  class = "disabled">Employees</a>
                <a href = "/Prototype_2/src/components/equipment/index.html">Equipment</a>
                <a href = "">Repairs</a>
            </nav>
            <div class = "head-profile-section">
                <img class = "head-profile-img" src = "/Prototype_2/src/assets/profile_pic.jpg" alt = "Profile Picture">
                <div class = "head-profile-text"> Hello Emma! </div>
            </div>
        </header>
        <main class = "main-section">
            <section class = "main-heading">
                <div class = "main-heading-title">
                    <h1 class = "main-heading-head">Employees</h1>
                </div>
                <div class = "main-heading-input">
                    <div class = "main-heading-input-section">
                        <div class = "input-group">
                            <input id = "main-search-input" name = "search" class = "form-input" type="text" placeholder="Search...">
                            <label for = "main-search-input" class = "form-label">Search...</label>
                        </div>
                        <button class = "search-btn"><img class ="search-btn-img" src="/Prototype_2/src/assets/search-icon.png"></button>
                    </div>
                    <div class = "main-heading-input-section" style="    padding-right:5rem;">
                        <div class ="select-wrapper">
                            <select class = "main-select">
                                <option value="" disabled selected>Sort By</option>
                                <option>Name</option>
                                <option>Type</option>
                                <option>Modified Date</option>
                            </select>
                        </div>
                        <div class ="select-wrapper">
                            <select class = "main-select">
                                <option value="" disabled selected>Group By</option>
                                <option>Name</option>
                                <option>Type</option>
                                <option>Modified Date</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <section class = "main-body">
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">John Smith - Employee ID#12345</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Emily Johnson - Employee ID#67890</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Robert Davis - Employee ID#24680</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Sara Martinez - Employee ID#13579</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Michael Wilson - Employee ID#54321</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Olivia Lee - Employee ID#98765</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">William Brown - Employee ID#11223</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Daniel Miller - Employee ID#45678</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Sophia Wilson - Employee ID#99887</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Joseph Anderson - Employee ID#65432</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Emma Taylor - Employee ID#76543</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">David White - Employee ID#43210</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Jennifer Moore - Employee ID#56789</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">James Clark - Employee ID#67890</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Mia Hernandez - Employee ID#98765</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Christopher Hall - Employee ID#23456</div>
                    </div>
                </div>
                <div class="main-body-row">
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Sophia Davis - Employee ID#87654</div>
                    </div>
                    <div class="main-body-item">
                        <img class="img-employee" src="/Prototype_2/src/assets/employee-icon.png" alt="employee image">
                        <div class="item-title">Benjamin Lopez - Employee ID#78901</div>
                    </div>
                </div>
                
                </div>
                
                <button class = "btn-add">Add Employee</button>
            </section>
        </main>
    </body>
    <!-- <footer>
        <p>Footer of the page starts here.<br>
            &copy;2023 TechLink Software</p>
        <img src="logo.jpeg" alt="TechLink logo Picture">
    </footer> -->
</html>